body {
  font-family: sans-serif, Helvetica, Arial, Verdana;
  margin: auto;
  background-color: white;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'navbar navbar navbar navbar'
    'break break break break'
    'sidebar sidebar sidebar sidebar'
    'content content content content';
}

.navbar {
  grid-area: navbar;
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
}

.sidebar {
  grid-area: sidebar;
  padding: 10px;
  display: none;
  border-right: 1px solid #eee;
}

.content {
  grid-area: content;
  padding: 10px;
  overflow: auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: grey;
}

.title {
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: #292929;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
}

h1 {
  font-size: 28px;
  color: #292929;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

p {
  font-size: 18px;
  color: #292929;
  margin: 0;
  padding: 0;
  font-weight: 200;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li:hover {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

.p-20-0 {
  margin: 20px 0;
}

.menu li a {
  color: #757575;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}

.menu li a:hover {
  color: #292929;
}

.popular {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.popular li img {
  width: 100%;
  height: auto;
}

.popular li img:hover {
  opacity: 0.8;
}

.popular h1 {
  font-size: 24px;
}

.list li {
  display: grid;
  grid-template-columns: 150px auto;
  list-style-type: none;
  margin-bottom: 10px;
  justify-items: start;
}

.list img {
  width: 150px;
  height: 150px;
}

.list li img:hover {
  opacity: 0.8;
}

.list .description {
  padding-left: 20px;
}

.description h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.date {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 200;
  color: #757575;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #app {
    height: 100vh;
    display: grid;
    grid-template-areas:
      'navbar navbar navbar navbar'
      'break break break break'
      'sidebar content content content'
      'sidebar content content content';
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr 4fr;
  }

  .navbar {
    grid-template-columns: 1fr 4fr;
    height: 80px;
    align-content: center;
  }

  .navbar .menu {
    display: flex;
    align-self: center;
  }

  .navbar .menu li {
    padding-right: 10px;
  }

  .sidebar {
    display: block;
  }

  .sidebar .menu li {
    margin-bottom: 10px;
  }

  .description h1 {
    -webkit-line-clamp: 4;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .popular {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
